{%extends "admin-index.html" %}
{%block title%}实验室电脑配置{%endblock%}

{% block nav %}
{{super()}}

{% endblock%}

{%block body%}
<div id = "select">
        <fieldset class="layui-elem-field">
            <legend>实验室号</legend>
            <div class="layui-field-box">
                <div class="layui-input-block">
                <input type="text" id="labId" required  lay-verify="required" placeholder="请输入实验室号" class="layui-input">
                </div>
                <button class="layui-btn" id="check">查询已有电脑</button>
            </div>
        </fieldset>
        <button class="layui-btn" id="avil">查询闲置电脑</button>
    </div>
<div class="layui-collapse layui-hide" id="ucomputer">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">闲置电脑</h2>
        <div class="layui-colla-content layui-show">
        <table class="layui-hide" id="ucTest" lay-filter="ucTest"></table>
        </div>
    </div>
</div>
<div class="layui-collapse layui-hide" id="hcomputer">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">已经配备的电脑</h2>
        <div class="layui-colla-content layui-show">
        <table class="layui-hide" id="hcTest" lay-filter="hcTest"></table>
        </div>
    </div>
</div>
{%endblock%}
{%block script %}
    <script type="text/html" id="outbar">
    <!-- <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> -->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="out">注销</a>
    </script>
    <script type="text/html" id="inbar">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="in">登记</a>
    </script>

    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
          <button class="layui-btn layui-btn-sm" lay-event="getCheckData">选中行数据</button>
          <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button> -->
          <!-- <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button> -->
      </div>
    </script>

    <script>
        $(document).ready(function(){
            layui.use('table',function(){
                var table = layui.table;

                
                $('#avil').click(function(){
                    //显示闲置电脑
                    $('#ucomputer').removeClass('layui-hide').addClass('layui.show');
                    table.render({
                        elem:'#ucTest',
                        url:'{{url_for("check_avil_computer")}}',
                        toolbar:'#toolbar',
                        title:'闲置电脑表',

                        cols:[[
                            {type: 'checkbox', fixed: 'left'}
                            ,{field:'id', title:'id', width:150, fixed: 'left', unresize: true, sort: true}
                            ,{field:'cName', title:'电脑名', width:120}
                            ,{field:'producer', title:'出厂商', width:120}
                            ,{field:'normal',title:'状态',width:120}
                            ,{field:'aId', title:'入库操作员', width:180}
                            ,{fixed: 'right', title:'登记', toolbar: '#inbar', width:150}                            
                        ]]
                        ,page: true
                        ,limit: 7
                        ,response: {
                            statusCode: 0 //重新规定成功的状态码为 200，table 组件默认为 0
                          }
                        ,parseData: function(res){ //res 即为原始返回的数据
                            return {
                              "code": res.code, //解析接口状态
                              "msg": res.msg, //解析提示文本
                              "count": res.count, //解析数据长度
                              "data": res.data //解析数据列表
                            };
                          }                    
                    })
                
                });
                
                $('#check').click(function(){
                    //显示已有电脑
                    $('#hcomputer').removeClass('layui-hide').addClass('layui-show');
                    table.render({
                        elem:'#hcTest',
                        where:{
                            labId:$('#labId').val()
                        },
                        url:'{{url_for("check_own_computer")}}',
                        toolbar:'#toolbar',
                        title:'闲置电脑表',

                        cols:[[
                            {type: 'checkbox', fixed: 'left'}
                            ,{field:'id', title:'id', width:150, fixed: 'left', unresize: true, sort: true}
                            ,{field:'cName', title:'电脑名', width:120}
                            ,{field:'producer', title:'出厂商', width:120}
                            ,{field:'normal',title:'状态',width:120}
                            ,{field:'aId', title:'入库操作员', width:180}
                            ,{fixed: 'right', title:'注销', toolbar: '#outbar', width:150}                            
                        ]]
                        ,page: true
                        ,limit: 7
                        ,response: {
                            statusCode: 0 //重新规定成功的状态码为 200，table 组件默认为 0
                          }
                        ,parseData: function(res){ //res 即为原始返回的数据
                            return {
                              "code": res.code, //解析接口状态
                              "msg": res.msg, //解析提示文本
                              "count": res.count, //解析数据长度
                              "data": res.data //解析数据列表
                            };
                          }                    
                    })
                                    
                    
                })
            
                

                    table.on('toolbar(ucTest)',function(obj){
                        
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch(obj.event){
                          case 'getCheckData':
                          var data = checkStatus.data;
                          layer.confirm('此操作将登记电脑到实验室'+$('#labId').val()
                          ,function(index){
                            var _list=[];
                            for(var i=0;i<data.length;i++){
                                _list.push($.trim(data[i].id));
                            }
                            
                            var data_id = {
                                cIds:JSON.stringify(_list),
                                labId:$('#labId').val()                    
                            };
                            $.ajax({
                                type:'post',
                                async:true,
                                url:"{{url_for('import_computers_for_lab')}}",
                                data:data_id,
                                success:function (result) {
                                    table.reload('ucTest');

                                    layer.msg('已成功登记'+result+'条数据'
                                    ,{
                                        time:1000
                                    });
                                    
                                },
                                error: function(){
                                    layer.msg('登记失败'
                                    ,{
                                        time:1000
                                    });
                                }
                            });
                          });
                        
                          break;
                        }
                      })
                    
                    table.on('tool(ucTest)', function(obj){
                        var data = obj.data;
                        //console.log(obj)
                        if(obj.event === 'in'){
                          layer.confirm('此操作将登记电脑到实验室'+$('#labId').val()
                          ,function(index){
                            var _list=[];
                            _list.push($.trim(data.id));
                            var data_id = {
                                cIds:JSON.stringify(_list),
                                labId:$('#labId').val()                    
                            };
                            $.ajax({
                                type:'post',
                                async:true,
                                url:"{{url_for('import_computers_for_lab')}}",
                                data:data_id,
                                success:function (result) {
                                    table.reload('ucTest');

                                    layer.msg('已成功登记'+result+'条数据'
                                    ,{
                                        time:1000
                                    });
                                    
                                },
                                error: function(){
                                    layer.msg('登记失败'
                                    ,{
                                        time:1000
                                    });
                                }
                            });
                          });
                        
                        }
                      });
                            


                    table.on('toolbar(hcTest)',function(obj){
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch(obj.event){
                          case 'getCheckData':
                          var data = checkStatus.data;
                          layer.confirm('此操作将登记电脑到实验室'+$('#labId').val()
                          ,function(index){
                            var _list=[];
                            for(var i=0;i<data.length;i++){
                                _list.push($.trim(data[i].id));
                            }
                            
                            var data_id = {
                                cIds:JSON.stringify(_list),
                                labId:$('#labId').val()                    
                            };
                            $.ajax({
                                type:'post',
                                async:true,
                                url:"{{url_for('export_computers_for_lab')}}",
                                data:data_id,
                                success:function (result) {
                                    table.reload('hcTest');

                                    layer.msg('已成功注销'+result+'条数据'
                                    ,{
                                        time:1000
                                    });
                                    
                                },
                                error: function(){
                                    layer.msg('注销失败'
                                    ,{
                                        time:1000
                                    });
                                }
                            });
                          });
                        
                          break;
                        }
                      })
                    
                    table.on('tool(hcTest)', function(obj){
                        var data = obj.data;
                        //console.log(obj)
                        if(obj.event === 'out'){
                          layer.confirm('此操作将把电脑移出实验室'+$('#labId').val()
                          ,function(index){
                            var _list=[];
                            _list.push($.trim(data.id));
                            var data_id = {
                                cIds:JSON.stringify(_list),
                                labId:$('#labId').val()                    
                            };
                            $.ajax({
                                type:'post',
                                async:true,
                                url:"{{url_for('export_computers_for_lab')}}",
                                data:data_id,
                                success:function (result) {

                                    table.reload('hcTest');
                                    layer.msg('已成功注销'+result+'条数据'
                                    ,{
                                        time:1000
                                    });
                                    
                                },
                                error: function(){
                                    layer.msg('注销失败'
                                    ,{
                                        time:1000
                                    });
                                }
                            });
                          });
                        }
                      });
                   


            })
        });
    </script>

{%endblock%}