{% extends "base.html" %}
{% block title %}首页{% endblock %}

{% block nav %}
{{ super() }}
<li class="layui-nav-item">
  <a class="" href="{{url_for('demand_manage.post_demand')}}">提交需求</a>
</li>
<li class="layui-nav-item">
  <a class="" href="{{url_for('demand_manage.show_tDemand')}}">查看需求</a>
</li>

{% endblock %}
{% block body %}

<!-- 设置折叠表格 -->
<div class="layui-collapse">
    <div class="layui-colla-item">
      <h2 class="layui-colla-title">软件数据表</h2>
      <div class="layui-colla-content layui-show">
        <table class="layui-hide" id="sTest" lay-filter="sTest"></table>
      </div>
    </div>
    <div class="layui-colla-item">
      <h2 class="layui-colla-title">实验室数据表</h2>
      <div class="layui-colla-content layui-show">
        <table class="layui-hide" id="lTest" lay-filter="lTest"></table>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="getCheckData">删除选中行数据</button>
  </div>
</script>
<script type="text/html" id="bar">
  <a class="layui-btn  layui-btn-xs" lay-event="info">详情</a>
</script>            
<script>
    layui.use('table', function(){
      var table = layui.table;
      
      table.render({
        elem: '#sTest'
        ,url:'{{ url_for("soft_manage.check_softwares") }}'
        //,toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
        ,title: '软件数据表'
        
        ,cols: [[
          {field:'id', title:'软件id', width:150, fixed: 'left', unresize: true, sort: true}
          ,{field:'sName', title:'软件名', width:120}
          ,{field:'version', title:'版本', width:120}
          ,{field:'sysType', title:'系统要求', width:150}
          ,{field:'aId', title:'入库管理员', width:150}
          ,{fixed: 'right', title:'操作', toolbar: '#bar', width:150}
        ]]
        ,page: true
        ,limit: 7
        ,response: {
            statusCode: 0 //重新规定成功的状态码为 200，table 组件默认为 0
          }
        ,parseData: function(res){ //res 即为原始返回的数据
            console.log(res);
            return {
              "code": res.code, //解析接口状态
              "msg": res.msg, //解析提示文本
              "count": res.count, //解析数据长度
              "data": res.data //解析数据列表
            };
          }

      });

      //监听行工具事件
      table.on('tool(sTest)', function(obj){
        var data = obj.data;
        //console.log(obj)
        if(obj.event === 'info'){
          window.location.href="/soft_info/"+"?sId="+String(data.id)
        }

      });

      table.on('tool(lTest)', function(obj){
        var data = obj.data;
        //console.log(obj)
        if(obj.event === 'info'){
          window.location.href="/lab_info/"+"?labId="+String(data.id)
        }
      });
    
      
      table.render({
        elem: '#lTest'
        ,url:'{{ url_for("lab_manage.check_labs") }}'
        //,toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
        ,title: '实验室数据表'
        
        ,cols: [[
          {field:'id', title:'实验室号', width:150, fixed: 'left', unresize: true, sort: true}
          ,{field:'lName', title:'实验室名', width:120}
          ,{field:'count', title:'实验室电脑数', width:120}
          ,{field:'aId', title:'入库操作员', width:180}
          ,{fixed: 'right', title:'操作', toolbar: '#bar', width:150}
        ]]
        ,page: true
        ,limit: 7
        ,response: {
            statusCode: 0 //重新规定成功的状态码为 200，table 组件默认为 0
          }
        ,parseData: function(res){ //res 即为原始返回的数据
            console.log(res);
            return {
              "code": res.code, //解析接口状态
              "msg": res.msg, //解析提示文本
              "count": res.count, //解析数据长度
              "data": res.data //解析数据列表
            };
          }

      });
      
    });
    </script>
{% endblock %}